<application>
<name>ROBOTNAME</name>
<module>
      <name>iCubInterface</name>
      <parameters>--config /usr/local/src/robot/iCub/app/ROBOTNAME/conf/icubHead.ini</parameters>
	  <node>pc104</node>
	  <stdio>icubsrv</stdio>	
	<tag>iCubInterface</tag>
   </module>
   </application>

