*~
/build*/
/bindings/build*/
/bindings/check*/
/bindings/java/
/bindings/lua/
/bindings/python/
/bindings/ruby/
*kdev*
*.orig
/src/idl_generated_code/*.cmake
/src/examples/rpcIdl/*.cmake
/package-tmp/
*.swp
*~
licenses-all.txt
licenses-authors-compact.txt
licenses-authors.txt
licenses-bad.txt
licenses-copyright-compact.txt
licenses-good.txt

.DS_Store
.Spotlight-V100
.Trashes

