echo "Operating system: Linux Ubuntu 8.10 (intrepid)"
echo
echo "Installed packages:"
echo
echo "ace version 5.5.5 from ace web site, compiled locally"
echo "ipopt version 3.8.1 from ipopt web site, compiled locally"
echo 
echo "libgsl0-dev"
echo "libncurses5-dev"
echo "libgtkmm-2.4-dev"
echo "libcv-dev"
echo "libqt3-mt-dev"
echo
echo "Simulator related packages:"
echo "libglut3"
echo "libglut3-dev"
echo "libsdl1.2-dev"
echo
echo "ode 0.11 from sourceforge"


